## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
conj_enteros = [1,2,3,4,5,6]

print(conj_enteros)

[1, 2, 3, 4, 5, 6]

2) Imprimir el tipo de dato de la variable 8.5

In [4]:
variable_1 = 8.5

print(type(variable_1))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
print(type(conj_enteros))

<class 'list'>

4) Crear una variable que contenga tu nombre

In [6]:
variable_minombre = "Gabriel"

5) Crear una constante que contenga el número Pi

In [7]:
PI = 3.14

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [8]:
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [10]:
numero_e = 2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [11]:
variable_a = 'True'
variable_b = True

print(type(variable_a))
print(type(variable_b))
print ("no son lo mismo")

<class 'str'>
<class 'bool'>
no son lo mismo

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [12]:
print(type(variable_a))
print(type(variable_b))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [16]:
variable_entero = 3
variable_float = 4.15
variable_suma = variable_entero + variable_float

11) Realizar una operación de suma de un número definido como string con un entero

In [20]:
variable_str = "3"

suma = int(variable_str) + variable_entero

print(suma)

6

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [21]:
variable_potencia = suma**3

216

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [22]:
numero_1 = float(input("ingrese un num"))
numero_2 = float(input("ingrese otro num"))

multip = numero_1 * numero_2

print(f"la multiplicación de los dos números ingresados es:", multip)

la multiplicación de los dos números ingresados es: 7.0

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [23]:
variable_cociente = 27 / 4
print(variable_cociente)

6.75

15) De la división anterior solamente mostrar la parte entera

In [24]:
print(int(variable_cociente))

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [25]:
resto = 27 % 4
print(resto)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [28]:
print(int(variable_cociente) * 4 + resto)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [30]:
print ("2" == 2)
print("ocurre porque uno es de tipo str y el otro de tipo int")

False
ocurre porque uno es de tipo str y el otro de tipo int

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [31]:
print (int("2") == 2)

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [34]:
print("no se puede convertir un dato tipo str en tipo float")

no se puede convertir un dato tipo str en tipo float

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [39]:
#no se puede realizar porque uno es de tipo int y el otro de tipo str

print("si ambos son de tipo str la suma sería:", str(10) + '10')

print("si ambos son de tipo int la suma sería:", 10 + int('10'))

print("no arrojaría el mismo resultado, depende si son de tipo str o de tipo int")

si ambos son de tipo str la suma sería: 1010
si ambos son de tipo int la suma sería: 20
no arrojaría el mismo resultado, depende si son de tipo str o de tipo int

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [40]:
menu="""
MENU
1) Pizza        
2) Empanadas
3) Milanesas
4) Salir
"""
print(menu)

MENU
1) Pizza
2) Empanadas
3) Milanesas
4) Salir

23) Crear una lista que contenga los números del 1 al 10

In [41]:
lista = [1,2,3,4,5,6,7,8,9,10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [42]:
print(lista[-2])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [44]:
lista[2] = "Gabriel"
print(lista)

[1, 2, 'Gabriel', 'Gabriel', 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [60]:
matriz = [['A','B','C'],['D','E','F'],['G','H','I']]

27) Imprimir la matriz creada en el punto 26

In [62]:
print (matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [64]:
matriz[1][1] = 'Z'

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [68]:
matriz[0] = [1,2,3]

30) Crear una tupla que contenga 5 marcas de ropa

In [77]:
marcas_ropa = ("adidas","reebok","nike","levis","kevingston")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [78]:
print(marcas_ropa[0])

adidas

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [80]:
#marcas_ropa[1] = "fila"
#no se puede modificar porque las tuplas no se pueden modificar

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [91]:
alumno = {'nombre' : 'Gabriel', 'apellido' : 'Ferri','edad' : 36, 'hobbies' : ('basquet','guitarra','pintura')}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [92]:
print(alumno['hobbies'])

('basquet', 'guitarra', 'pintura')

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [93]:
alumno['edad'] = 30

print(alumno['edad'])

30